#square
{
  position: relative;
  border: 1px solid red;
  width:100px;
  height:100px;
  font-size: 50px;
  padding-left: 10px;
  text-align: center;
  vertical-align: center;
}
*
{
  margin:0;
  padding:0;
}
#main
{
  width:100%;
  position: absolute;
}
#board
{
  width:400px;
  display:flex;
  flex-wrap: wrap;
  margin:20px auto;
  justify-content: center;
  border-collapse: 1;
}
 #square:nth-child(1) 
{
  border-top: 0;
}
#square:nth-child(3)
{
  border-top: 0;
} #square:nth-child(2)
{
  border-top: 0;
}
#square:nth-child(1) 
{
  border-left: 0;
}
#square:nth-child(3)
{
  border-right: 0;
}


#square:nth-child(4) 
{
  border-left: 0;
}
#square:nth-child(7)
{
  border-left: 0;
} #square:nth-child(6)
{
  border-right: 0;
}
#square:nth-child(9)
{
  border-right: 0;
}

#square:nth-child(7) 
{
  border-bottom: 0;
}
#square:nth-child(8)
{
  border-bottom: 0;
} #square:nth-child(9)
{
  border-bottom: 0;
}
 